<app-current-path [currentPathItems]="['settings', 'add']"></app-current-path>
<app-module-navigation [navigation]="settingsService.getSettingsNavigation()"></app-module-navigation>
<mat-card class="module-add-card pb-2 mt-4">

  <mat-card-header>
    <mat-card-title>
      <h1 class="module-add-title">{{languageService.getTranslation('SettingsAddNav')}}</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <form class="example-form" [formGroup]="addSettingFormGroup" (ngSubmit)="addSetting()">

      <mat-form-field class="example-full-width mb-4">
        <input matInput placeholder="Code" name="code" formControlName="code" [errorStateMatcher]="matcher">
        <mat-hint>{{languageService.getTranslation('typeCodeHere')}}</mat-hint>
        <mat-error *ngIf="control.code.hasError('minlength') && !control.code.hasError('required')">
          Code must have at least 5 characters
        </mat-error>
        <mat-error *ngIf="control.code.hasError('required')">
          Code is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width mb-4">
        <input matInput placeholder="Name" type="text" name="name" formControlName="name" [errorStateMatcher]="matcher">
        <mat-hint>{{languageService.getTranslation('typeNameHere')}}</mat-hint>
        <mat-error *ngIf="control.name.hasError('minlength') && !control.name.hasError('required')">
          Name must have at least 5 characters
        </mat-error>
        <mat-error *ngIf="control.name.hasError('required')">
          Name is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width mb-4">
        <input matInput placeholder="Description" type="text" name="description" formControlName="description" [errorStateMatcher]="matcher">
        <mat-hint>{{languageService.getTranslation('typeDescHere')}}</mat-hint>
      </mat-form-field>

      <mat-form-field class="type-value-fields">
        <mat-label>{{languageService.getTranslation('settingType')}}</mat-label>
        <mat-select formControlName="type">
          <mat-option *ngFor="let type of settingType" [value]="type">
            {{type}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="control.type.hasError('required')">
          Type is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="example-full-width mb-4 type-value-fields">
        <input matInput placeholder="Value" type="text" name="value" formControlName="value" [errorStateMatcher]="matcher">
        <mat-hint>{{languageService.getTranslation('typeValueHere')}}</mat-hint>
        <mat-error *ngIf="control.value.hasError('required')">
          Value is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="typeStringError">
          Value for String type is <strong>invalid</strong>
        </mat-error>
        <mat-error *ngIf="typeNumberError && !control.value.hasError('required')">
          Value for Number type is <strong>invalid</strong>
        </mat-error>
        <mat-error *ngIf="typeBooleanError">
          Value for Boolean type is <strong>invalid</strong>
        </mat-error>
      </mat-form-field>

      <mat-card-actions>
        <button mat-raised-button class="module-add-btn" color="primary">{{languageService.getTranslation('add')}}</button>
      </mat-card-actions>

    </form>
  </mat-card-content>

</mat-card>
