<app-current-path *ngIf="page" [currentPathItems]="['pages', page.name]"></app-current-path>
<app-module-navigation [navigation]="pageService.getPagesNavigation()"></app-module-navigation>

<mat-card class="module-details-card pb-2 mt-4">

  <mat-card-header class="pt-4">
    <mat-card-title>
      <h1 class="module-details-title">{{languageService.getTranslation('page')}}: {{page?.code}}</h1>
    </mat-card-title>
  </mat-card-header>

  <mat-tab-group color="primary" backgroundColor="primary">

    <mat-tab label="{{languageService.getTranslation('general')}}">
      <form class="module-details-form" [formGroup]="editPageFormGroup" *ngIf="page" (ngSubmit)="editPage()">

        <table class="module-details-table">

          <tr class="module-details-row">
            <td class="module-details-item">{{languageService.getTranslation('code')}}:</td>
            <td class="module-details-item" style="text-align: left">{{page?.code}}</td>
          </tr>

          <tr class="module-details-row">
            <td class="module-details-item">{{languageService.getTranslation('name')}}:</td>
            <td *ngIf="page?.status !== 'DELETED'" class="module-details-item">
              <mat-form-field class="module-details-form-field">
                <input matInput value="{{page?.name}}" name="name" formControlName="name" [errorStateMatcher]="matcher">
                <mat-error *ngIf="!control.name.hasError('required') && control.name.hasError('minlength')">
                  Name must have at least 5 characters
                </mat-error>
                <mat-error *ngIf="control.name.hasError('required')">
                  Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
            </td>
            <td *ngIf="page?.status === 'DELETED'" class="module-details-item" style="text-align: left">{{page?.name}}</td>
          </tr>

          <tr class="module-details-row">
            <td class="module-details-item">{{languageService.getTranslation('description')}}:</td>
            <td *ngIf="page?.status !== 'DELETED'" class="module-details-item">
              <mat-form-field class="module-details-form-field">
                <input matInput value="{{page?.description}}" name="description" formControlName="description">
              </mat-form-field>
            </td>
            <td *ngIf="page?.status === 'DELETED'" class="module-details-item" style="text-align: left">{{page?.description}}</td>
          </tr>

          <tr class="module-details-row">
            <td class="module-details-item">{{languageService.getTranslation('createdAt')}}:</td>
            <td class="module-details-item" style="text-align: left">{{page?.createdAt}}</td>
          </tr>

          <tr class="module-details-row">
            <td class="module-details-item">{{languageService.getTranslation('updatedAt')}}:</td>
            <td class="module-details-item" style="text-align: left">{{page?.updatedAt}}</td>
          </tr>

          <tr class="module-details-row">
            <td class="module-details-item">{{languageService.getTranslation('status')}}:</td>
            <td class="module-details-item module-details-status" (click)="changeStatus()"
                [ngStyle]="{ 'background': page.status === 'INACTIVE' ? '#828282' : page.status === 'ACTIVE' ? '#28a745' : 'blue' }">{{page?.status}}</td>
          </tr>

        </table>
      </form>
    </mat-tab>

    <mat-tab label="{{languageService.getTranslation('content')}}">
      <app-ngx-editor *ngIf="page?.status !== 'DELETED'" height="300px" [(ngModel)]="contentValue" [spellcheck]="true"></app-ngx-editor>
      <table *ngIf="page?.status !== 'DELETED'" class="module-details-table">
        <tr class="module-details-row">
          <td class="module-details-item">
            <mat-form-field class="module-details-form-field" [ngClass]="{'mat-form-field-invalid ng-dirty ng-invalid ng-touched' : !selector.value.length}">
              <input #selector matInput name="selector" [(ngModel)]="contentSelector">
            </mat-form-field>
          </td>
          <td>
            <a mat-raised-button class="module-edit-btn" (click)="addPageContent()" color="primary">{{languageService.getTranslation('add')}}</a>
          </td>
        </tr>

      </table>

      <table class="module-details-table">
        <tr class="module-details-row" *ngIf="!pageContents.length">
          <td class="module-details-item" colspan="2">{{languageService.getTranslation('noElements')}}</td>
        </tr>

        <tr *ngFor="let pageContent of pageContents; let i = index" class="module-details-row">
          <td class="module-details-item-element">
            {{pageContent.selector}}
          </td>
          <td class="module-details-item-element">
            {{pageContent.content}}
          </td>
          <td *ngIf="page?.status !== 'DELETED'" class="module-details-item-delete">
            <a mat-raised-button class="module-edit-btn" color="warn" (click)="removePageContent(i)"><i class="material-icons">delete</i></a>
          </td>
        </tr>
      </table>
    </mat-tab>

    <mat-tab label="{{languageService.getTranslation('styles')}}">
      <table class="module-details-table">

        <tr *ngIf="page?.status !== 'DELETED'" class="module-details-row">
          <td class="module-details-item" colspan="3">
            <a mat-raised-button class="module-edit-btn" (click)="addPageStyle()" color="primary">{{languageService.getTranslation('add')}}</a>
          </td>
        </tr>

        <tr class="module-details-row" *ngIf="!pageStyles.length">
          <td class="module-details-item">{{languageService.getTranslation('noElements')}}</td>
        </tr>

        <tr *ngFor="let pageStyle of pageStyles; let i = index" class="module-details-row">
          <td *ngIf="page?.status !== 'DELETED'" class="module-details-item-element">
            <mat-form-field class="module-details-form-field" [ngClass]="{'mat-form-field-invalid ng-dirty ng-invalid ng-touched' : !pageStyle.property.length}">
                  <textarea #property matInput value="{{pageStyle?.property}}" name="property" placeholder="Property {{i+1}}"
                            (change)="pageStyle.property = property.value"></textarea>
            </mat-form-field>
          </td>
          <td *ngIf="page?.status === 'DELETED'" class="module-details-item-element">
            <span style="font-size: 12px">Property {{i}}:</span> {{pageStyle.property}}
          </td>
          <td *ngIf="page?.status !== 'DELETED'" class="module-details-item-element">
            <mat-form-field class="module-details-form-field" [ngClass]="{'mat-form-field-invalid ng-dirty ng-invalid ng-touched' : !pageStyle.value.length}">
                  <textarea #value matInput value="{{pageStyle?.value}}" name="value" placeholder="Value {{i+1}}"
                            (change)="pageStyle.value = value.value"></textarea>
            </mat-form-field>
          </td>
          <td *ngIf="page?.status === 'DELETED'" class="module-details-item-element">
            <span style="font-size: 12px">Value {{i}}:</span> {{pageStyle.value}}
          </td>
          <td *ngIf="page?.status !== 'DELETED'" class="module-details-item-delete">
            <a mat-raised-button class="module-edit-btn" color="warn" (click)="removePageStyle(i)"><i class="material-icons">delete</i></a>
          </td>
        </tr>

      </table>
    </mat-tab>
    <mat-tab label=" {{languageService.getTranslation('metaTags')}}">
      <table class="module-details-table">

        <tr *ngIf="page?.status !== 'DELETED'" class="module-details-row">
          <td class="module-details-item" colspan="3">
            <a mat-raised-button class="module-edit-btn" (click)="addPageMetaTag()" color="primary">{{languageService.getTranslation('add')}}</a>
          </td>
        </tr>

        <tr class="module-details-row" *ngIf="!pageMetaTags.length">
          <td class="module-details-item">{{languageService.getTranslation('noElements')}}</td>
        </tr>

        <tr *ngFor="let pageMetaTag of pageMetaTags; let i = index" class="module-details-row">
          <td *ngIf="page?.status !== 'DELETED'" class="module-details-item-element">
            <mat-form-field class="module-details-form-field" [ngClass]="{'mat-form-field-invalid ng-dirty ng-invalid ng-touched' : !pageMetaTag.name.length}">
                  <textarea #name matInput value="{{pageMetaTag?.name}}" name="property" placeholder="Name {{i+1}}"
                            (change)="pageMetaTag.name = name.value"></textarea>
            </mat-form-field>
          </td>
          <td *ngIf="page?.status === 'DELETED'" class="module-details-item-element">
            <span style="font-size: 12px">Name {{i}}:</span> {{pageMetaTag.name}}
          </td>
          <td *ngIf="page?.status !== 'DELETED'" class="module-details-item-element">
            <mat-form-field class="module-details-form-field" [ngClass]="{'mat-form-field-invalid ng-dirty ng-invalid ng-touched' : !pageMetaTag.content.length}">
                  <textarea #content matInput value="{{pageMetaTag?.content}}" name="value" placeholder="Content {{i+1}}"
                            (change)="pageMetaTag.content = content.value"></textarea>
            </mat-form-field>
          </td>
          <td *ngIf="page?.status === 'DELETED'" class="module-details-item-element">
            <span style="font-size: 12px">Content {{i}}:</span> {{pageMetaTag.content}}
          </td>
          <td *ngIf="page?.status !== 'DELETED'" class="module-details-item-delete">
            <a mat-raised-button class="module-edit-btn" color="warn" (click)="removePageMetaTag(i)"><i class="material-icons">delete</i></a>
          </td>
        </tr>

      </table>
    </mat-tab>
  </mat-tab-group>

  <mat-card-actions *ngIf="page?.status !== 'DELETED'" class="module-edit-actions pb-4 pt-4">
    <button type="submit" mat-raised-button class="module-edit-btn" color="primary" (click)="runEditPage()">{{languageService.getTranslation('saveChanges')}}</button>
    <a mat-raised-button class="module-edit-btn" (click)="clearChanges()" color="accent">{{languageService.getTranslation('clearChanges')}}</a>
    <a mat-raised-button class="module-edit-btn" color="warn" (click)="removePage()">{{languageService.getTranslation('remove')}}</a>
  </mat-card-actions>

</mat-card>
